<!DOCTYPE html>

<!--  main-fragment (title, otherStaticResources, header, nav, mainContent, footer)  -->
<html xmlns:th="http://www.thymeleaf.org"
	th:replace="~{user/layouts/main-layout :: main-fragment(  
                                                ~{::title},
                                                ~{:: #home-nav},
                                                ~{:: #home-main-content}
                                               )}">

<head>
<title>Pagina de inicio</title>

<script type="text/javascript" src="../static/home.js"
	th:src="@{/home.js}"></script>
<link rel="stylesheet" type="text/css" href="../static/home.css"
	th:href="@{/home.css}" />

</th:block>

</head>
<body>


	<div id="home-nav"
		th:replace="~{user/fragments/app-fragments :: nav-default}">
		Home Nav</div>

	<div id="home-main-content">
	
			<div sec:authorize="isAuthenticated()">This content is only
			shown to authenticated users.</div>
		<div sec:authorize="hasRole('ADMIN')">Solo lo puede ver el Admin.</div>
		<div sec:authorize="hasRole('USER')">Solo lo puede ver el usuario.</div>
		<span sec:authentication="name">Bob</span>

					



	</div>



</body>
</html>