
.sidenav.dark {
  background-color: #151515;
  color: rgba(255, 255, 255, 0.5);
}
.sidenav.dark .subheader {
  color: rgba(255, 255, 255, 0.5);
}
.sidenav.dark .divider {
  background-color: rgba(255, 255, 255, 0.2);
}
.sidenav.dark li a {
  color: rgba(255, 255, 255, 0.5);
}
.sidenav.dark li a i.material-icons {
  color: rgba(255, 255, 255, 0.5);
}

nav, header, main, footer {
  padding-left: 300px;
}

@media only screen and (max-width: 992px) {
  nav, header, main, footer {
    padding-left: 0;
  }
}

table.highlight > tbody > tr:hover {
 
  background-color: rgb(211, 215, 207);
 
}



.dataTables_wrapper {
	margin: 10px;
}


