

body {
	background-image: linear-gradient(to right bottom, #3d6094, #005ab5, #0050d3, #0040ec, #2b18fd);
	display: flex;
	min-height: 100vh;
	flex-direction: column;
}

main {
	flex: 1 0 auto;
}


.box {
  display: flex;
  align-items: center;
  justify-content: center;
}

